@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
}

/* COLOR GUIDELINE */
/* 60% - bg,bg-offset */
/* 30% - text,text-offset,ring, border, muted */
/* 10% - primary,primary-offset,secondary,secondary-offset */

@layer base {
  /* [data-theme="light"] {
    --color-bg: #f4f6f0;
    --color-bg-offset: #f2ede9;
    --color-text: #41474c;
    --color-text-offset: #757d84;
    --color-ring: #e8e0d9;
    --color-border: #e8e0d9;
    --color-primary: #99c221;
    --color-primary-offset: #6e910a;
    --color-secondary: #e55812;
    --color-secondary-offset: #ff7f3e;
    --color-muted: #e8e0d9;
    --color-muted-foreground: #4a423c;
  } */

  [data-theme="dark"] {
    --color-bg: #0e141b;
    --color-bg-offset: #1a1f24;
    --color-text: #ffffff;
    --color-text-offset: #c1c8ce;
    --color-ring: #3a3f44;
    --color-border: #6f767d;
    --color-muted: #8a8a8a;
    --color-muted-foreground: #3b3b3b;
    --color-primary: #ff5277;
    --color-primary-offset: #ff2957;
    --color-primary-light: #ff7d97;
    --color-secondary: #43a9a3;
    --color-secondary-offset: #70c7c1;
  }

  [data-theme="light"] {
    --color-bg: #f4f0e2;
    --color-bg-offset: #e3dbc7;
    --color-text: #3a2e1e;
    --color-text-offset: #6d563b;
    --color-ring: #c7b692;
    --color-border: #b9ab89;
    --color-muted: #c6bba3;
    --color-muted-foreground: #4a3e2a;
    --color-primary: #6b914f;
    --color-primary-offset: #4d703a;
    --color-primary-light: #8bb970;
    --color-secondary: #b8663c;
    --color-secondary-offset: #d18657;
  }

  /* [data-theme="twilight"] {
    --color-bg: #f3f1f8;
    --color-bg-offset: #e7e3ee;
    --color-text: #33303a;
    --color-text-offset: #7d758a;
    --color-ring: #cfc2dd;
    --color-border: #c5b9cf;
    --color-muted: #dbd5e2;
    --color-muted-foreground: #4e445a;
    --color-primary: #8265ff;
    --color-primary-offset: #6543da;
    --color-secondary: #f28e2b;
    --color-secondary-offset: #d87514;
  } */

  body {
    background-color: var(--color-bg);
    color: var(--color-text);
  }
}

h1 {
  font-size: 56px;
  line-height: 84px;
  font-weight: 400;
}

h2 {
  font-size: 34px;
  line-height: 51px;
  font-weight: 400;
}

h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}

h4 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

/* p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
} */
