@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-foreground;
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  * {
    @apply border-border;
  }
}

@layer base {
  [data-theme="light"] {
    --color-bg: #fffffe;
    --color-bg-offset: #e3f6f5;
    --color-text: #272343;
    --color-text-offset: #2d334a;
    --color-ring: #e3f6f5;
    --color-border: #8a8a8a;
    --color-primary: #ff9d00;
    --color-primary-offset: #ffca00;
    --color-secondary: #bae8e8;
    --color-secondary-offset: #ffca00;
    --color-muted: #e3f6f5;
    --color-muted-foreground: #272343;
  }

  [data-theme="dark"] {
    --color-bg: #0e141b;
    --color-bg-offset: #252526;
    --color-text: #ffffff;
    --color-text-offset: #818a91;
    --color-ring: #2d2d2d;
    --color-border: #8a8a8a;
    --color-primary: #ff5277;
    --color-primary-offset: #ff2957;
    --color-secondary: #43a9a3;
    --color-secondary-offset: #70c7c1;
    --color-muted: #8a8a8a;
    --color-muted-foreground: #272727;
  }

  [data-theme="third"] {
    --color-bg: #fafbf5;
    --color-bg-offset: #f2ede9;
    --color-text: #41474c;
    --color-text-offset: #757d84;
    --color-ring: #e3f6f5;
    --color-border: #e8e0d9;
    --color-primary: #99c221;
    --color-primary-offset: #6e910a;
    --color-secondary: #e55812;
    --color-secondary-offset: #ff7f3e;
    --color-muted: #e8e0d9;
    --color-muted-foreground: #4a423c;
  }

  body {
    background-color: var(--color-bg);
    color: var(--color-text);
  }
}

h1 {
  font-size: 56px;
  line-height: 84px;
  font-weight: 400;
}

h2 {
  font-size: 34px;
  line-height: 51px;
  font-weight: 400;
}

h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}

h4 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

/* p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
} */
